.home-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.tshirt-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-left: 55px;
  margin-top: 35px;
}
